/* 公共样式 */
.fl {
    float: left;
}

.fr {
    float: right;
}

/* 红色文字 */
.style-red {
    color: #c81623;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3a2xdr');
    src:  url('../fonts/icomoon.eot?3a2xdr#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3a2xdr') format('truetype'),
      url('../fonts/icomoon.woff?3a2xdr') format('woff'),
      url('../fonts/icomoon.svg?3a2xdr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/* 快捷导航栏-start*/
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    margin: 9px 15px;
    width: 1px;
    height: 12px;
    background-color: #000;
}

/* 通过after伪元素设置字体图标 */
.arrow-icon::after {
    content: '\ea52';
    font-family: 'icomoon';
    margin-left: 10px;

}
/* 快捷导航栏-end*/

/* head-start */
.header {
    position: relative;
    height: 105px;

}

.header .logo {
    position: absolute;
    top: 25px;
    left: 0;
    height: 61px;
    width: 171px;
}

.header .logo a {
    display: block;
    height: 61px;
    width: 171px;
    background: url(../img/logo.png) no-repeat 0 0;
    /* 隐藏a中的文字 */
    text-indent: -9999px;
}

.header .search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #c81623;
    ;
}

.search input {
    float: left;
    width: 455px;
    height: 32px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 79px;
    height: 32px;
    line-height: 32px;
    background-color: #c81623;
    font-size: 16px;
    color: #fff;
}

/* 搜索热词 */
.header .hotwords {
    position: absolute;
    top: 65px;
    left: 346px;
}

.hotwords li {
    float: left;
    margin: 0 15px;
}

/* 购物车 */
.header .shopcar {
    position: absolute;
    top: 25px;
    right: 0;
    /* float: right; */
    width: 140px;
    height: 36px;
    line-height: 36px;
    background-color: #f1f1f1;
    text-align: center;
}

.shopcar .count {
    position: absolute;
    top: 0;
    right: 0;
}