*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: snow;
}

/* .container{
    width: auto;
    height: auto;
} */

.wrapper{
    width: 80%;
    height: 1000px;
    background-color: lightgray;
    margin: 0px auto;

}

.header{
    margin: 0px auto;
    width: 100%;
    height: 90px;
    background-color: linen;
}

.header_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: orchid;
    float: left;
    position: relative;
}

.header_nav{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 30px;
    position: relative;
}

.herder_nav ul{
    margin-left: 40px;
    float: left;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 6px;
}

.header_nav li{
    display: inline;
    padding-left: 10px;

}

.header_nav a{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: peru;
}

.header_nav a:link, .herder_nav a:visited{
    font-weight: bold;
    color: silver;
    text-align: center
}

.herder_nav a:active, .header_nav a:hover{
    color: silver;
}
.header_img img{
    float: right;
    width: 26px;
    height: 26px;
    border-radius: 30px;
    display: inline;
    box-shadow: 0 1px 1px cadetblue;

}

.header_soptlight form{
    float: right;
    margin-right: 50px;
    /* position: relative; */
    /* width: 100px; */
    /* height: 26px; */
}

form input{
    height: 26px;
    border-radius: 10px;
}

form label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: darkolivegreen;
}

.body{
    margin: 20px auto;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: ivory;

}

.footing{
    width: 80%;
    height: 30px;
    margin: 0px auto;
    text-align: center;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightslategray;
}

.img{
    margin: 10px;
    border: 1px solid darkgray;
    width: auto;
    height: auto;
    float: left;
    text-align: center;
}

img{
    margin: 5px;
    opacity: 0.9;
}

.img_txt{
    font-size: 15px;
    margin-bottom: 5px;
}

.body_title h2{
    text-align: center;
    font-size: 25px;
    margin: 5px auto;
}

.body_title p{
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
