.container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* justify-content: center;
    align-content: start; */
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px auto 100px;
    row-gap: 20px;
    column-gap: 10px;

    grid-template-areas: "header header header"
        "nav main aside"
        "footer footer footer";

}

.container header {
    grid-area: header;
    background-color: tomato;
}

.container nav {
    grid-area: nav;
    background-color: turquoise;
}


.container main {
    grid-area: main;
    background-color: thistle;
}

.container aside {
    grid-area: aside;
    background-color: yellow;
}

.container footer {
    grid-area: footer;
    background-color: yellowgreen;
}
